<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- spring注解自动注入 -->
    <context:component-scan base-package="bmm.*"/>

    <!-- 加载数据库属性配置文件 -->
    <context:property-placeholder location="classpath:/db.properties"/>

    <!-- data connection setting -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driverClassName}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="user" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="initialPoolSize" value="2"/>
        <property name="minPoolSize" value="1"/>
        <property name="maxPoolSize" value="50"/>
        <property name="acquireRetryAttempts" value="0"/>
        <property name="acquireRetryDelay" value="1000" />
        <property name="maxIdleTime" value="60"/>
        <property name="idleConnectionTestPeriod" value="50"/>
        <property name="testConnectionOnCheckout" value="true"/>
        <property name="autoCommitOnClose" value="true"/>
    </bean>

    <!-- session工厂 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:/hibernate.cfg.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="ht" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--配置DAO-->
    <bean id="userControlDao" class="bmm.dao.impl.UserControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
    </bean>
    <bean id="adminControlDao" class="bmm.dao.impl.AdminControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
    </bean>
    <bean id="cateControlDao" class="bmm.dao.impl.CategorizationControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
    </bean>
    <bean id="goodsControlDao" class="bmm.dao.impl.GoodsControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
    </bean>
    <bean id="billControlDao" class="bmm.dao.impl.BillControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
    </bean>
    <bean id="checkoutControlDao" class="bmm.dao.impl.CheckoutControlDAOImpl">
        <property name="hibernateTemplate" ref="ht"/>
        <property name="goodsControlDAO" ref="goodsControlDao"/>
    </bean>
    <!--结束配置DAO-->

    <!--配置service-->
    <bean id="userloginService" class="bmm.service.impl.UserlControlServiceImpl">
        <property name="userControlDAO" ref="userControlDao"/>
    </bean>
    <bean id="adminControlService" class="bmm.service.impl.AdminControlServiceImpl">
        <property name="adminControlDAO" ref="adminControlDao"/>
    </bean>
    <bean id="cateControlService" class="bmm.service.impl.CateControlServiceImpl">
        <property name="categorizationControlDAO" ref="cateControlDao"/>
    </bean>
    <bean id="goodsControlService" class="bmm.service.impl.GoodsControlServiceImpl">
        <property name="goodsControlDAO" ref="goodsControlDao"/>
    </bean>
    <bean id="billControlService" class="bmm.service.impl.BillControlServiceImpl">
        <property name="billControlDAO" ref="billControlDao"/>
    </bean>
    <bean id="checkoutControlService" class="bmm.service.impl.CheckoutControlServiceImpl">
        <property name="goodsControlDAO" ref="goodsControlDao"/>
        <property name="checkoutControlDAO" ref="checkoutControlDao"/>
        <property name="billControlDAO" ref="billControlDao"/>
        <property name="userControlDAO" ref="userControlDao"/>
    </bean>
    <!--结束配置service-->

    <!--配置Action-->
    <bean id="userControlAction" class="bmm.struts.action.user.UserControlAction">
        <property name="userControlService" ref="userloginService"/>
    </bean>
    <bean id="adminControlAction" class="bmm.struts.action.admin.AdminControlAction">
        <property name="adminControlService" ref="adminControlService"/>
    </bean>
    <bean id="cateControlAction" class="bmm.struts.action.goods.CateAction">
        <property name="cateControlService" ref="cateControlService"/>
    </bean>
    <bean id="goodsControlAction" class="bmm.struts.action.goods.GoodsControlAction">
        <property name="goodsControlService" ref="goodsControlService"/>
    </bean>
    <bean id="billControlAction" class="bmm.struts.action.bill.BillControlAction">
        <property name="billControlService" ref="billControlService"/>
    </bean>
    <bean id="checkoutControlAction" class="bmm.struts.action.checkout.CheckoutControlAction">
        <property name="checkoutControlService" ref="checkoutControlService"/>
    </bean>
    <bean id="billPaymentControlAction" class="bmm.struts.action.user.BillPaymentControlAction">
        <property name="billControlService" ref="billControlService"/>
        <property name="checkoutControlService" ref="checkoutControlService"/>
    </bean>
    <!--结束配置Action-->

    <!-- 配置Spring事务管理器 -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*" read-only="false" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <!--<aop:config>-->
        <!--<aop:pointcut id="**" expression="execution(* bmm.service.impl.CheckoutControlServiceImpl.*(..))"/>-->
        <!--<aop:advisor pointcut-ref="**" advice-ref="txAdvice"/>-->

    <!--</aop:config>-->


</beans>